@page "/container/{id}/edit_files"
@using Dashboard.Components.Controls
@using Dashboard.Services
@using Docker.DotNet
@using Docker.DotNet.Models

@inject DockerClient Client
@rendermode InteractiveServer
<h3>EditContainerFiles</h3>

@if (_containerInspectResponse is not null)
{
    <MudTreeView T="string">

        @foreach (var mount in _containerInspectResponse.Mounts)
        {
            @if (!mount.Source.EndsWith(".sock"))
            {
                <DirectoryTreeView Path="@mount.Source" FullPath="true"/>
            }
        }
    </MudTreeView>
    <StandaloneCodeEditor @ref="_standaloneCodeEditor"/>

    @* <FileOverlayComponent @ref="@FileOverlayComponent"/> *@
    
}


@code {
    [Parameter] public required string Id { get; set; }
    FileOverlayComponent? FileOverlayComponent;
    StandaloneCodeEditor? _standaloneCodeEditor;
    ContainerInspectResponse? _containerInspectResponse;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        _containerInspectResponse = await Client.Containers.InspectContainerAsync(Id);
        
        await base.OnParametersSetAsync();
        StateHasChanged();
    }


}