@using System.Text.RegularExpressions
<div>
      
</div>

@code {
      [Parameter]
      public string[] Data { get; set; } = Array.Empty<string>();

      string[] ExtractControlCharacters(string data)
      {
            var regex = new Regex(@"\x1b\[[0-9;]*[mGKHFT]");

            var extract = regex.Split(data);
            Console.WriteLine(extract[0]);
            Console.WriteLine(extract[1]);
            return extract;
      }
}